<!DOCTYPE html>
<html>
<head>
    <title>Registro de Usuario</title>
    <link rel="stylesheet" type="text/css" href="styles.css"> <!-- Agrega aquí la ruta correcta a tu archivo de estilos CSS -->
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .container {
            width: 400px;
            margin: 0 auto;
            text-align: left;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Registro de Usuario</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <div>
                <input type="submit" value="Registrarse" class="btn btn-primary" onclick="redirectToBase()"/>
                <button type="button" class="btn btn-secondary" onclick="closeWindow()">Volver</button>
            </div>
        </form>
    </div>


    <script>
        function closeWindow() {
            window.location.href = "/"; 
        }
    </script>
</body>
</html>
